:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-item {
  font-weight: 500;
  color: #f02770;
  text-decoration: inherit;
}
.nav-item:hover {
  color: #f473a2;
}

h1 {
  padding: 10px;
  font-size: 3.2em;
  line-height: 1.1;
  text-shadow: 1px 1px 1px rgb(254, 126, 148);
}

h3 {
  padding: 5px;
  font-size: 2.2em;
  line-height: 1.1;
  text-shadow: 1px 1px 1px rgb(254, 126, 148);
}

.projects {
  padding: 10px;
  text-align: center;
  font-size: 200%;
}

.card {
  border-style: hidden;
  box-shadow: 8px 8px 8px #d8dadc;
  margin: 20px;
  max-width: 100%;
}
